.dropdownArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  clip-path: polygon(50% 48%, 5% 100%, 94% 99%);
  z-index: 1000;
  margin-bottom: 5px;
  top: -20px;
  /* left: 10px; */
  background-color: rgba(163, 163, 163, 0.35);
  /* background-color: brown; */
  z-index: 0;
}

.dropdownArrow::before {
  position: absolute;
  content: "";
  clip-path: polygon(50% 48%, 5% 100%, 94% 99%);
  width: 18px;
  height: 18px;
  background-color: #f6fcff;
  /* background-color: aqua; */
  z-index: 1000;
  /* left: 1px; */
  bottom: -1px;
  z-index: 100;
}
